@import url('https://fonts.googleapis.com/css?family=Oswald:300');
@import './base/variables';
@import './base/base';
@import './components/navigation';
@import './components/video-gallery';
@import './components/photo-gallery';
@import './components/contact';




@media only screen and (max-width: 900px) {

  iframe{
     height:301px;
     width:529px;
  }
}


  @media only screen and (max-width: 950px) {


      .photoshoot__display-type{
        display:none;
      }
      .photoshoot{
        @include prefix((
        column-count: 2,
        column-gap:0.5rem
       ), webkit moz);
       overflow: visible;
       width:84%;
       height:auto;
       white-space:normal;

      }

      .photoshoot img{
        width:100%;
        margin-bottom: 1rem;
        @include prefix((
        column-count: 2,
        column-gap:1rem
       ), webkit moz);

      }

      .lightbox__image{
        margin:3% 5% 0;
        width:60%;
        height:auto;
      }
      .navbar{
        padding-top:0.6rem;
        height:9rem;
      }
      .contact{
        width:75%;
        margin-top:15rem;
      }
      .gallery__image img{
        width:23rem;
  
      }


}
@media only screen and (max-width: 600px){
  iframe {
    width:300px;
    height:190px;
  }

  .photoshoot{
    @include prefix((
    column-count: 1
   ), webkit moz);
   margin-top:10rem;

  }
  .photoshoot img{
    cursor: default;

  }
  .gallery{
    margin-top:10rem;
  }
  .gallery__image img{
    width:21rem;
    padding:0.4rem;
  }
  .contact{
    width:95%;
    margin-top:15rem;
  }


}
