// base
* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    list-style: none;
    letter-spacing: 1px;
}

body{
  margin:0;

}
html{
  margin:0;
  padding:0;
}

.page-transition{
  margin:0 auto;
  width:98%;
  height:100%;
  position:relative;




}
a{
  color:#555659;
}
